@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: poppins;
}

/*Area Header*/
header{
    background-color: black;
}

/*Area Nav-Bar */

nav{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 10px;
}

/* Area img-fluid */

.img-fluid{
  margin-left: 25%;
}

/* election-index */

.election{
    margin-top: 30px;
    margin-bottom: 200px;
}

/*centro forms */
main{
    margin:0;
    border: 0;
    padding: 50px;
}
.centro{ 
    background-color: #20c997;
    display: block;
    height: 650px;
    width: 600px;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
}

#CreateEleicao{
    color:white;
    margin-left: 25%;
}
.centro,h5{
    color:white;
    margin-left: 25%;
}
/*interna */

/* index */

.index{
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 120px;
}
.show_eleicao{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 20px; 
}
/* link_sair */

#link_sair{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: black;
    margin-left: 10%;
}

/* Area da class de pesquisar por candidato */

.search_candidate{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
/* Area Footer */

footer{
    background-color:black;
    padding: 50px;
    margin-top: 20px;
}
